.game-end-scene {
  min-width: 100vh;
  text-align: center;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(16px + vmin);
  color: white;
  text-align: center;

  

  background-image: url("../assets/backgrounds/login-background.png");
  background-repeat: repeat;
  background-size: 160px 128px;
  animation: login-scene-bg linear 2s infinite;
}

@keyframes login-scene-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 160px 128px;
  }
}

.rank-display {
  font-size: calc(40px);
  color: rgba(220, 213, 20, 0.805);
}

.rank-one {
  font-size: calc(vmin);
  color: rgba(226, 57, 51, 0.845);
}

.game-result {
  font-size: 4em;
}

.back-room-btn {
  margin: 1em 5em;
  padding: .3em;
  font-size: 28px;
  border-style: solid;
  border-color: #66BAB7;
  border-width: 2px;
  border-radius: 15px;
}


