.login-scene {
  text-align: center;
}

.login-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + vmin);
  color: black;
}

.login-logo { 
  height: 320px;
  width: 320px;
}

.basic-info-form-container {
  margin-top: 2em;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
}

.basic-info-form {
  margin: 20px;
}

.basic-info-form>label>span {
  margin-right: 1em;
}

.basic-info-input {
  margin: 0 .3em;
  padding: .2em .4em;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  border-width: 0 0 3px 0;
  border-color: #6699aa;
  border-style: solid;
  outline: none;
  font-size: 16px;
}

.basic-info-input:hover {
  background: rgba(255, 255, 255, 0.75);
  border-color: #6699cc;
}

.basic-info-input:focus {
  background: rgba(255, 255, 255, 0.9);
  border-color: #6699ee;
}

.basic-info-button {
  margin: 0 200px 1em 200px;
  padding: 0.25em 0.75em;
  border-radius: 0.5em;
  cursor: pointer;
  user-select: none;
  background-color: #558899;
  color: #e7e7e7;
}

.basic-info-button:hover {
  background-color: #6699aa;
  color: #f7f7f7;
}